.dialogPreviewContainer {
  width: 100%;
  height: 71px;
  
  cursor: pointer;
  
  background-color: #fff;
  border-top: 1px solid var(--Gray3);
  border-bottom: 1px solid var(--Gray3);
}

.dialogPreviewContainerOpened {
  background-color: var(--Gray1);
}

.dialogPreviewContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  padding: 6px 14px;
}

.dialogPreviewInfo {
  display: flex;
  flex-direction: column;
  gap: 11px;

  max-width: 291px;
  text-overflow: ellipsis;
}

.dialogPreviewTime {
  height: 100%;
  display: flex;
  align-self: start;
}

.messagePreview {
  font-size: 12px;
  max-height: 28px;
  max-width: 291px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}