:root {
    --AppBackground: #F0F2F5;
    --Gray: #38383866;
    --Gray1: #F0F0F0;
    --Gray2: #61677D;
    --Gray3: #F4F4F4;
    --BlackFont: #000000D9;
    --Blue: #3461FD;
    --Green: #25AF4B;
    --Red: #C61C1C;
}